.paginationContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin: 1%;
  button {
    margin: 1%;
    border: none;
    border-radius: 30%;
    cursor: pointer;
    padding: 1%;
  }
  .active {
    background-color: lawngreen;
    color: white;
  }
}
