@import "../../../../theme/colors";
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid $darkGrey;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: $darkGrey;
}

.tableName,
.tableDate {
  font-size: 14px;
}
.tableDesc {
  font-size: 12px;
}
